- form_for [:admin, @form], :html => {:onsubmit_status => onsubmit_status(@form)}, :html => { :enctype => 'multipart/form-data' } do |form_form|
  .form_top
    - render_region :form_top do |form_top|
      -# empty
      
  .form_area
    - render_region :form do |form|
      - form.edit_title do
        %p.title
          = form_form.label :title, 'Title'
          = form_form.text_field :title, :class => 'textbox activate', :maxlength => 255
        
        .drawer
          .drawer_contents#attributes
            %table.fieldset
              %tr
                %th.label= form_form.label :action, 'Action'
                %td.field= form_form.text_field :action, :class => 'textbox', :maxlength => 100, :size => 100
              %tr
                %th.label= form_form.label :redirect_to, 'Redirect To'
                %td.field= form_form.text_field :redirect_to, :class => 'textbox', :maxlength => 100, :size => 100
          .drawer_handle
            %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label
                
      - form.edit_content do
        #tab_control
          #tabs.tabs
          #parts.pages
            #form_body.page{'data-caption'=>'body'}
              #part-body.part
                = form_form.text_area :body, :class => 'textarea large', :style => 'width: 100%'
            #form_content.page{'data-caption'=>'content'}
              #part-content.part
                = form_form.text_area :content, :class => 'textarea large', :style => 'width: 100%'
            #form_config.page{'data-caption'=>'config'}
              #part-config.part
                = form_form.text_area :config, :class => 'textarea large', :style => 'width: 100%'
      
  .form_bottom          
    - render_region :form_bottom do |form_bottom|
      - form_bottom.edit_buttons do
        %p.buttons{:style=>"clear: left"}
          = save_model_button(@form)
          = save_model_and_continue_editing_button(@form)
          or
          = link_to t('cancel'), admin_forms_url
      - form_bottom.edit_timestamp do
        %p.updated_line
          = updated_stamp @form

- content_for :page_css do
  :sass
    th.label
      :width 75px !important