- @page_title = 'Forms - ' + default_page_title

.outset
  = render 'header'
  #forms_table
    %table.index
      %thead
        %tr
          %th.form Form
          %th.modify Modify
      %tbody#forms_table_body
        - if @forms.size != 0
          = render :partial => 'form', :collection => @forms
        -else
          %tr
            %td.empty{:colspan => 2} No Forms
        

#actions
  %ul
    %li= link_to "New Form", new_admin_form_path 
    %li
      - form_tag nil, :method => 'get', :style => "display:inline" do 
        %input{ :type => "search", :id => "search", :name => "search" , :value => params[:search] }
        = submit_tag "Search"
        = observe_field 'search',  :frequency => 1, :update => 'forms_table_body', :url =>  { :controller => 'forms', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"